* {
    box-sizing: border-box;
}

.row {
    margin: 5px 0 !important;
    padding: 0 !important;
}

.card-content {
    padding: 12px !important;
}

.logo_title {
    font-size: 1.1rem !important;
    white-space: nowrap;
}

nav, h4, main {
    padding: 0 20px;
}

.page_header {
    text-align: center;
}

.tile_section {
    max-width: 1000px;
}

.algo_card {
    border-radius: 10px;
    font-size: 0.9rem;
    margin: 0 !important;
}

.algo_card i {
    font-size: 1.2rem;
}